/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*end of css reset*/

/*start of index*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.wrap {
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: 1024px;
}

@media (max-width: 1024px) {
  .header {
    width: 100%;
  }
}

.header h1 a {
  display: block;
  width: 120px;
  height: 24px;
  background-image: url(../img/logo_w@svg.svg);
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

h1 {
  padding-left: 40px;
}

.header ul {
  display: flex;
  padding-right: 20px;
}

.header li a {
  color: white;
  display: block;
  padding: 20px;
  border-bottom: 3px transparent white;
}

.header li a:hover,
.header li a.active {
  border-bottom: 3px solid white;
}

.fa-bars {
  display: none;
}

.show {
  transform: translateX(-93px);
}

@media (max-width: 576px) {
  .fa-bars {
    display: block;
    color: white;
    font-size: 20px;
    padding: 20px 40px;
  }

  .header ul {
    flex-direction: column;
    position: absolute;
    right: -110px;
    top: 60px;
    transition: all 0.4s;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
  }

  .header li a:hover,
  .header li a.active {
    border-bottom: 0px solid white;
  }
}

.banner {
  background-image: url(../img/header_desktop@2x.png);
  background-size: cover;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-content {
  background: rgba(0, 0, 0, 0.35);
  color: white;
  padding: 30px;
}

.banner-content h2 {
  font-size: 40px;
  padding-bottom: 20px;
}

.banner-content p {
  padding-top: 7px;
}

@media (max-width: 576px) {
  .banner {
    background-image: url(../img/header_mobile.png);
  }

  .banner-content span {
    display: block;
    padding-bottom: 10px;
  }
}

.features {
  color: #3d1101;
  padding: 40px 0;
  background: #efe9e7;
}

.features ul {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.features h2 {
  position: relative;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

.features h3 {
  font-weight: bold;
  font-size: 18px;
}

.features img {
  padding-bottom: 20px;
}

.features h2::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 120px;
  top: 50%;
  left: 27%;
  background: #979797;
}

.features h2::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 120px;
  top: 50%;
  right: 27%;
  background: #979797;
}

.features ul li {
  width: 26%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features p,
.features h3 {
  padding-top: 10px;
}

@media (max-width: 768px) {
  .features h2::before,
  .features h2::after {
    background: transparent;
  }
}

@media (max-width: 576px) {
  .features ul {
    flex-direction: column;
    align-items: center;
  }

  .features ul li {
    width: 50%;
    padding-bottom: 20px;
  }
}

.chef {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3d1101;
  color: #efe9e7;
  padding: 0 40px;
}

@media (max-width: 768px) {
  .chef {
    padding: 0 20px;
  }
  .chef img {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .chef {
    flex-direction: column;
    text-align: center;
    padding-top: 25px;
  }
}

.chef-info {
  display: flex;
  flex-direction: column;
  padding: 25px 0 25px 25px;
}

.chef-info h2 {
  font-size: 20px;
  line-height: 1.5;
}

.chef-info p {
  font-size: 17px;
  padding-top: 10px;
  line-height: 1.3;
}

.feedbacks {
  color: #3d1101;
  background: #efe9e7;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

.feedbacks h2 {
  font-size: 20px;
  text-align: center;
  padding-bottom: 40px;
}

.feedbacks ul {
  display: flex;
  justify-content: space-around;
}

.feedbacks ul li {
  width: 28%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.feedbacks ul li h3,
.feedbacks ul li p,
.feedbacks ul li h4 {
  padding: 20px 10px 0 10px;
  line-height: 1.3;
}

.feedbacks ul li h4 {
  text-align: right;
}

@media (max-width: 576px) {
  .feedbacks ul {
    flex-direction: column;
    align-items: center;
  }

  .feedbacks ul li {
    width: 60%;
    padding-bottom: 20px;
  }
}

.reservation {
  background: #f6f4f3;
  padding: 40px;
  color: #3d1101;
}

.reservation h2 {
  font-size: 20px;
  text-align: center;
  padding-bottom: 30px;
  line-height: 1.5;
}

.reservation img {
  padding-right: 20px;
  width: 50%;
  object-fit: cover;
}

.reserve-content {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

form input {
  margin-bottom: 9px;
}

label {
  padding: 8px 0;
}

.userInput {
  padding: 7px;
}

.btn {
  padding-top: 10px;
  text-align: end;
}

.vegan input {
  margin-right: 30px;
}

button {
  margin-left: 10px;
  padding: 7px 20px;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

button:first-child {
  background: gray;
}

button:nth-child(2) {
  background: #db4437;
}

@media (max-width: 576px) {
  .reservation img {
    width: 75%;
    padding: 0;
  }

  .reserve-content {
    flex-direction: column;
    align-items: center;
  }

  form {
    width: 75%;
  }
}

.logos img {
  width: 40px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 60px 40px;
  background: #efe9e7;
  color: #3d1101;
}

.footer h2 {
  font-size: 20px;
  padding-bottom: 20px;
}

.footer > ul {
  display: flex;
}

.info {
  width: 40%;
  margin-right: 20px;
  line-height: 1.3;
}

.info a {
  color: #3d1101;
  font-size: 15px;
}

.footer ul ul {
  list-style: disc inside;
}

.logos ul {
  display: flex;
  justify-content: end;
}

.logos h2 a {
  display: block;
  width: 243px;
  height: 48px;
  background-image: url(../img/logo_l.png);
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.logos ul a {
  font-size: 40px;
  padding-left: 12px;
}

.google-icon {
  color: #db4437;
}

.twitter-icon {
  color: #41abe1;
}

.facebook-icon {
  color: #3a5795;
}

@media (max-width: 576px) {
  .footer h2 {
    padding-bottom: 10px;
  }

  .info {
    width: 60%;
    padding-bottom: 20px;
  }

  .footer,
  .footer > ul,
  .logos {
    flex-direction: column;
    align-items: center;
  }
}

/*start of cart*/

.products {
  display: flex;
  padding: 40px;
  background: #efe9e7;
  color: #3d1101;
}

.products a {
  color: #3d1101;
}

.menu {
  width: 24%;
  margin-right: 20px;
}

.menu h2 {
  padding-bottom: 10px;
  font-size: 20px;
}

.menu a {
  display: block;
  border-bottom: 1px solid #3d1101;
  padding: 8px;
}

.menu a:hover,
.menu a.active {
  background: #3d1101;
  color: white;
}

.cart-content {
  width: 80%;
}

.tools {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.tools ul {
  display: flex;
  align-items: center;
}

.search {
  width: 60%;
  display: flex;
  align-items: center;
}

.search input {
  width: 88%;
  background: #efe9e7;
  padding: 5px;
  border: 2px solid #3d1101;
  font-size: 17px;
}

.search input:focus {
  outline: none;
}

.search i {
  color: #efe9e7;
  background: #3d1101;
  padding: 9px;
}

.tools ul a {
  font-size: 17px;
  display: block;
  padding: 0 12px;
  position: relative;
  text-align: center;
}

.tools ul i {
  font-size: 25px;
}

.tools span {
  position: absolute;
  text-align: center;
  color: white;
  background: #ff5e45;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  font-size: 11px;
  top: -5px;
  right: 5px;
}

.tools ul li:first-child {
  border-right: 1px solid #3d1101;
}

.food {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.food li {
  width: 31%;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
}

.food li a i {
  position: absolute;
  color: white;
  font-size: 23px;
  top: 5px;
  left: 5px;
}

/*ribbon start*/

.ribbon {
  width: 80px;
  height: 80px;
  overflow: hidden;
  position: absolute;
  top: -10px;
  right: -10px;
}
.ribbon::before,
.ribbon::after {
  position: absolute;

  content: "";
  display: block;
  border: 5px solid #029e77;
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 175px;
  padding: 5px 0;
  background-color: #00cc99;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 700 15px/1 "Lato", sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
  left: -37px;
  top: 20px;
  transform: rotate(45deg);
}

.ribbon::before {
  top: 0;
  left: 0;
}
.ribbon::after {
  bottom: 0;
  right: 0;
}

/*ribbon end*/

.food h2 {
  font-size: 20px;
  padding: 18px 0 8px 0;
}

.food h3 {
  font-size: 15px;
  position: relative;
  padding-bottom: 10px;
}

.food h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 92px;
  height: 1px;
  background: #3d1101;
}

.food p {
  font-size: 21px;
  font-weight: bold;
  font-style: italic;
  padding: 25px 0 8px 0;
}

.food button {
  color: #ff5e45;
  border: 2px solid #ff5e45;
  margin: 10px;
  background: #efe9e7;
  font-size: 16px;
  padding: 0 20px;
}

.food button:hover {
  color: #efe9e7;
  background: #ff5e45;
}

@media (max-width: 768px) {
  .menu {
    width: 30%;
  }

  .food li {
    width: 45%;
  }
}

@media (max-width: 576px) {
  .products {
    flex-direction: column;
    align-items: center;
  }

  .menu {
    width: 100%;
    padding: 0 40px 20px 40px;
    margin: 0;
  }

  .food {
    flex-direction: column;
  }

  .food li {
    width: 100%;
  }

  .tools {
    flex-direction: column;
    align-items: end;
  }

  .search {
    padding-bottom: 10px;
    width: 100%;
  }

  .search input {
    width: 100%;
  }

  .tools ul {
    text-align: end;
  }
}

/*start of login*/

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #efe9e7;
  color: #3d1101;
  padding-top: 50px;
}

.login-box {
  display: flex;
  flex-direction: column;
  width: 310px;
  text-align: left;
  padding: 10px;
  border-top: 3px solid #ff5e45;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}

.login-box h4 {
  text-align: center;
}

.login-box button {
  width: 45%;
  margin-left: 0;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.login-box button a {
  color: white;
}

.login h2 a {
  display: block;
  width: 243px;
  height: 48px;
  background-image: url(../img/logo_l@svg.svg);
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.login h2 {
  padding-bottom: 10px;
}

.login h3,
.login h4 {
  font-size: 20px;
  font-weight: bold;
}

.login-box > a {
  color: orange;
  padding-bottom: 40px;
}

.login-box > a:hover {
  text-decoration: underline;
}

.input-info {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-info input {
  padding: 7px;
  padding-left: 30px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 5px;
}

.input-info i {
  position: absolute;
  bottom: 13px;
  left: 8px;
}

.input-info label {
  padding: 8px 0 5px 0;
  font-size: 18px;
}

button:hover {
  background: #3d1101;
}

/*start of register*/

.register-box {
  display: flex;
  width: 90%;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  border-top: 3px solid #ff5e45;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}

.register-box > h4 {
  padding: 15px;
}

.register-content {
  display: flex;
  justify-content: space-around;
}

.terms {
  width: 45%;
  text-align: left;
}

.terms p {
  line-height: 1.3;
  font-size: 17px;
}

.register-info {
  width: 45%;
  text-align: left;
}

.input-info .lock1 {
  position: absolute;
  bottom: 50px;
  left: 8px;
}

.register-info button {
  background: #ff5e45;
  width: 40%;
  margin-bottom: 10px;
}

.register-info button:hover {
  background: #3d1101;
}

.register-info button a {
  color: white;
}

.register-info > a {
  color: #ff5e45;
}

.register-info > a:hover {
  text-decoration: underline;
}

.register-info .buttons {
  justify-content: end;
}

@media (max-width: 576px) {
  .register-box {
    width: 80%;
  }

  .register-content {
    flex-direction: column;
    align-items: center;
  }

  .terms,
  .register-info {
    width: 100%;
  }

  .terms {
    padding-bottom: 10px;
  }
}
